<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Show me some GraphQL!
  </h1>
</div>

<div *ngFor="let stock of allStocks | async" style="margin-bottom: 8px">
  <div>
    <span style="margin-right: 4px">name</span>
    <span>{{ stock.name }}</span>
  </div>
  <div>
    <span style="margin-right: 4px">symbol</span>
    <span>{{ stock.symbol }}</span>
  </div>
  <div>
    <span style="margin-right: 4px">price</span>
    <span>{{ stock.price }}</span>
  </div>
</div>

<div>
  <input type="text" [formControl]="searchFormControl">
  <button (click)="search()">search</button>
</div>

<div *ngIf="searchResult">
   <div>
     <span style="margin-right: 4px">name</span>
     <span>{{ searchResult.name }}</span>
   </div>
   <div>
     <span style="margin-right: 4px">symbol</span>
     <span>{{ searchResult.symbol }}</span>
   </div>
   <div>
     <span style="margin-right: 4px">price</span>
     <span>{{ searchResult.price }}</span>
   </div>
</div>
